.perfil {
  display: flex;
  flex-direction: column;
  width: clamp(270px, 30vw, 320px);
  height: 190px;
  background-color: var(--Dark-blue);
  border-radius: 10px;
  overflow: hidden;
  &__info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: var(--min-rem);
    padding: var(--min-rem);
    background-color: var(--Blue);
    border-radius: 10px;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    & h1 {
      order: 2;
      font-weight: 300;
      font-size: 18px;
    }
    & p {
      order: 1;
      font-weight: 300;
      color: var(--Pale-Blue);
      font-size: 12px;
    }
  }
  &__img {
    width: 90px;
    aspect-ratio: 1/1;
    outline: 3px solid white;
    outline-offset: -1px;
    border-radius: 50%;
  }
  &__botoes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    gap: vaR(--min-rem);
    width: 100%;
    height: 100%;
  }
  &__botao {
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--Pale-Blue);
    transition: 0.2s color ease-in-out;
    cursor: pointer;
    &:hover,
    &:focus,
    &:focus-visible {
      color: white;
    }
  }
}
